---
  root: true
  env:
    browser: true
    mocha: true
    node: true
  parser: 'babel-eslint'
  plugins:
    - prettier
    - react
  extends:
    - airbnb
    - plugin:prettier/recommended
  parserOptions:
    ecmaVersion: 6
    project: ./tsconfig.json
    sourceType: module
  rules:
    import/prefer-default-export: off
    react/destructuring-assignment: off
    quotes:
      - error
      - single
    prettier/prettier: error
    react/jsx-filename-extension:
      - 1
      - extensions:
        - .jsx
        - .tsx
    react/jsx-props-no-spreading: off
