{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "function-paren-newline": ["error", "consistent"]
  }
}
